

  <!-- Local Modal to be shown if Ardublockly Server is not running. -->
  <div id="not_running_dialog" class="modal">
    <div class="modal-content">
      <div>
        <h4 id="gen_alert_title"><span class="translatable_noServerTitle">Problema ao acessar o servidor da
            aplicação</span></h4>
      </div>
      <div class="translatable_noServerBody">
        <p>Não será possível configurar o IDE Arduino e tampouco carregar os programas na placa.</p>
        <p></p>
        <p>Se você está rodando o DB4K no seu computador. Certifique-se de que carregou o </p>
        <p>programa corretamente</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a id="gen_alert_ok_link" href="#" class="waves-effect btn-flat modal-close"><span
        class="translatable_okay">Ok</span></a>
  </div>
  </div>