<div class="col s12 m12 l4">
    <!--- PAULO CODE -->
    <ul class="collapsible" data-collapsible="expandable" style="max-height: 100%;height: 100% !important;">
      <li>
        <div class="collapsible-header" id="xml_collapsible_header"><i class="material-icons">face</i>
          <span class="translatable_arduinoSourceCode">Código Arduino + Missão</span>
        </div>
        <div class="collapsible-body" style="max-height:26.35vh; overflow: auto;
        background: white;">
          <pre style="overflow: visible !important;" id="content_arduino"
            class="content content_height_transition content_arduino_large"></pre>
          <div class="collapsible-body" style="display:none" id="xml_collapsible_body">
            <a id="button_load_xml"><i class="material-icons">face</i></a>
            <textarea id="content_xml" class="content content_height_transition content_xml_large"
              style="display:none" wrap="soft"></textarea>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">place</i>Desafio</div>
        <div class="collapsible-body">
          <!-- <iframe width="100%" height="315" src="https://www.youtube.com/embed/1wiRxe_6J0Y" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe> </div> -->
      </li>
    </ul>
    <!-- FIM PAULO CODE -->

  </div>