#content_blocks {
    box-shadow: 0px 0px 0px 0px transparent;
}
.blocklyMainBackground {
    position: relative;
}
.blocklyToolboxDiv {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0 !important;
    /* height: 500px; */
    top: auto !important;
    background: transparent !important;
    div {
        div {
            div {
                display: inline;
                float: left;
            }
        }
    }
}
.menuLadoDireito {
    position: fixed;
    width: 300px;
    height: 200px;
    right: 0;
    top: 64px;
    z-index: 9999999999999999999999 !important;
    button {
        &.btn-circle {
            border: none;
            border-radius: 50%;
            box-shadow: 0px 4px 7px -2px #0000008f;
        }
        transition: ease all 0.25s;
        color: white;
        position: absolute;
        margin: 1rem;
        &.second,
        &.third,
        &.fourth {
            right: -50rem;
            top: -50rem;
            // opacity: 0;
        }

        &.first {
            right: 0;
            top: 0;
            background: $purple-color;
            width: 7rem;
            height: 7rem;
            span {
                font-size: 4rem;
            }
        }
        &.second,
        &.third,
        &.fourth {
            transform: scale(0);
            width: 4rem;
            height: 4rem;
            span {
                font-size: 3rem;
            }
        }

        &.second {
            right: 8rem !important;
            top: 0 !important;
            background: $cyan-color;
        }
        &.third {
            right: 6rem !important;
            top: 6rem !important;
            background: $orange-color;
        }
        &.fourth {
            right: 0rem !important;
            top:8rem !important;
            background: $red-color;
        }
    }
    &:hover {
        button {
            transform: scale(1);
            cursor:pointer;
        }
    }
}
