// Estilização dos componentes arduino JR
// 1. Navbar
// 2. Workspace
@import 'materialize';      
@import 'variables';  
// @import 'workspace'; 
@import 'navbar'; 
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
* {
    font-family: "Montserrat", sans-serif;
 
    body {
        padding: 0px !important;
        background: white !important;
    } 
}
